<div class="container-fluid container-cards-pf">

<!-- ROW CARD 1 -->
<div class="row row-cards-pf">
<div class="col-md-12">
<div class="card-pf card-pf-utilization">
<div class="card-pf-heading">
<!-- <p class="card-pf-heading-details">Last 30 days</p> -->
<h2 class="card-pf-title">
Barrels Stock
</h2>
</div>
<div barrel-chart>Loading...</div>
</div>
</div>
</div>
<!-- END ROW CARD 1 -->
</div>
<script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    // initialize tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
</script>
